<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cohako Price</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Price Notification</a>
        </nav>
        <div class="form-group">
            <label>Current Price : RM <span id="currentPrice">0.00</span></label><br/>
            <label>My Limit Price : RM <span id="limitPrice">0.00</span></label>
        </div>
        <form action="/" method="post">
            <div class="form-group">
                <label for="priceLbl">Price Alert (RM)</label>
                <input type="number" class="form-control" name="price" placeholder="4000.10">
            </div>
            <div class="form-group">
                <label for="passwordLbl">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Wokie</button>
        </form>
    </div>
</body>

<script>
    setInterval(function() {
        $.getJSON("https://hakocheck.herokuapp.com/price", function(response) {
            // $.getJSON("http://localhost:8000/price", function(response) {
            console.log(response.eth);
            $("#currentPrice").text(response.eth);
            $("#limitPrice").text(response.myLimit);
        });
    }, 5000);
</script>

</html>